<%- include("./includes/head.ejs") %>
<body>
    <div id="navbar">
        <div>
        <a href="/social">Social Verse</a>
        </div>
    <div>   
    <a href="/home">Gaming Verse</a>
    </div> 
        <div>
            <a href="/exclusive">Exclusive Verse</a>
        </div>
    </div>
    <div class="home1">
        <div class="content1">
            <img src="avngr.png" alt="">
            <h3 class="cntData3">Step into the thrilling world of the Avengers with our exciting lineup of games that put you in the shoes of Earth's mightiest heroes. Dive into action-packed adventures and challenges inspired by the iconic Marvel universe. Whether you're a die-hard fan or just looking for some super-powered fun, Avengers Gaming Hub has something for everyone. Join forces with your favorite heroes and embark on epic quests to save the day!</h3>
        </div>  
    </div>

    <div class="home2">
        <div class="content2">
            <img src="thanoss-bgg.png" alt="">
            <h3 class="cntData2">In "Find Thanos Stones," test your memory and sharpen your skills as you search for the powerful Infinity Stones scattered throughout the galaxy. Race against the clock to match pairs of stones before Thanos can assemble them for his nefarious purposes. With each successful match, you'll inch closer to victory and thwart Thanos' plans to reshape the universe.</h3>
            <a class="ThanBtn" href="/thanos"><img src="btnThano.png" alt=""></a>
        </div>    
    </div>


    <div class="home3">
    <div class="content3">
<img src="logogo.png" alt="">
<h3 class="cntData">Swing into action with "Spider-Man: Far from Home" and embark on a web-slinging adventure through the bustling streets of New York City. Navigate intricate mazes and overcome obstacles as you follow in the footsteps of everyone's favorite friendly neighborhood hero. With Spidey's agility and quick reflexes, you'll navigate through challenges and emerge victorious against all odds.</h3>
<a class="Spider" href="/spider"><img src="spider.png" alt=""></a>
</div>
    </div>
    <div class="home4">
        <div class="content4">
            <img src="hulkk logo.png" alt="">
            <h3 class="cntData1">Unleash the rage of the Green Goliath in "Hulk: The Destroyer," a digital brick-breaking extravaganza! Smash through walls of obstacles and unleash earth-shattering power as you embody the unstoppable force of the Hulk. With each thunderous crash, you'll crush your enemies and emerge as the ultimate powerhouse in a world of chaos and destruction.</h3>
            <a class="HulkBtn" href="/hulk"><img src="hulkHand.png" alt=""></a>
        </div>



    </div>
</body>
</html>