<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="navShield">
        <img class="logo" src="shield.png" alt="">
    </div>
    <div class="boddy">
    <div class="login-card">
        <h2>Login</h2>
        <form method="post" action="/login">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <a class="forgot" href="">Forgot Password</a>
            <button type="submit">Login</button>
            <a class="forgot" href="">Register now !</a>
        </form>
    </div>
</div>
</body>

</html>