<link rel="stylesheet" href="thanos.css">
<body>
    <%- include("./includes/head.ejs") %>
    <div id="navbar">
        <div>
        <a href="">Social Verse</a>
        </div>
    <div>   
    <a href="">Gaming Verse</a>
    </div> 
        <div>
            <a href="">Exclusive Verse</a>
        </div>
    </div>
    <div class="Tpage">
<div class="text">
    <h2>Find the Stone</h2>
</div>
<div class="Center">
    <div class="Lthano">
        <img id="Lthn" src="BgRemThano.png" alt="laudaa">
    </div>
    <div class="Game">
        <%- include("./includes/thanosGame.ejs") %>
    </div>
    <div class="RThano">
        <img src="Thanos45454.png" alt="">
    </div>
</div>


    </div>

</body>
</html>